database/journal/WiredTigerLog.0000000034
database/journal/WiredTigerLog.0000000035
build/*
database/*
database-local/*
database-backup/*
mongodb-6.0.15/*
mongodb-6.0.15-secondary/*
admin_permission_start_secondary_db_6.0.bat