<breadcrumb></breadcrumb>

<mat-card>
    <mat-card-title></mat-card-title>
    <mat-card-content>
        <mat-tab-group class="m--16 ml">            
            <mat-tab label="Chủng loại">
                <mat-card class="card-inside-tab">
                    <mat-card-title>Chủng loại các chi tiêu mặc định</mat-card-title>
                    <mat-card-subtitle>
                        Các chủng loại này sẽ hiển thị mặc định cho tất cả các người dùng.
                    </mat-card-subtitle>
                    <mat-card-content>
                        <div class="p-y-4">
                            <mat-form-field class="w-full">
                                <input matInput type="text" [(ngModel)]="searchCategoryKey" placeholder="Tìm kiếm" />
                                <button mat-icon-button matSuffix>
                                    <mat-icon>search</mat-icon>
                                </button>
                            </mat-form-field>
                            <mat-card-actions>
                                <button mat-button color="primary" (click)="openAddCategoryDialog()">
                                    <mat-icon>add</mat-icon>
                                    Thêm mới
                                </button>
                                <button mat-button color="accent">
                                    <mat-icon>delete</mat-icon>
                                    Xóa
                                </button>
                            </mat-card-actions>
                        </div>
                        <ml-category></ml-category>
                    </mat-card-content>
                </mat-card>
            </mat-tab>
            <mat-tab label="Loại ví"> </mat-tab>
            <mat-tab label="Icons">
                <mat-card class="card-inside-tab">
                    <mat-card-title>Icons hệ thống</mat-card-title>
                    <mat-card-subtitle>
                        Các icons này đang được clone từ app money-lover. Sử dụng với mục đích thương mại vớ vẩn đi tù!
                    </mat-card-subtitle>
                    <div class="matero-row" fxLayout="row wrap">
                        <div class="matero-col" *ngFor="let icon of icons">
                            <ml-icon [path]="icon.path"></ml-icon>
                        </div>
                    </div>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>