.ml {
    .card-inside-tab {
        margin-bottom: 0px;
    }

    .mat-paginator {
        font-size: 14px !important;
    }
}
.hover-item:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
}

.mat-list-item > .mat-list-item-content span.icon {
    width: 35px;
    height: 35px;
}

.app-loading {
    width: 100%;
    height: 100%;
}