.permission-property-container {
    display: flex;
    padding: 5px 0;
    column-gap: 20px;
    .property-name {
        width: 20%;
        display: flex;
        align-items: center;
    }
    .property-value {
        width: 80%;
        word-break: break-word;
    }
}

.module-actions-container {
    margin-top: 5px;
    .list-module-actions-accordion {
        margin-top: 10px;
    }
}

:host ::ng-deep {
    .mat-expansion-panel-header-description {
        justify-content: space-between;
    }
}

.check-all-container {
    padding: 10px 24px;
}

.permission-code-status {
    display: flex;
    align-items: center;
    gap: 10px;
    .code {
        max-width: 300px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}