<div class="matero-row" fxLayout="row wrap">
    <div class="matero-col list-transactions one-half" fxFlex="100" fxFlex.gt-md="60"
        fxLayout="row" fxLayoutAlign="center start">
        <mat-card class="w-full">
            <mat-card-content>
                <div fxLayout="row" fxFill>
                    <div fxFlex="grow" class="mat-card-title" fxLayout="row" fxLayoutAlign="start center">Thống kê giao dịch
                    </div>
                    <div fxFlex="auto">
                        <mat-icon class="cursor-pointer" (click)="createTransaction()" matTooltip="Thêm giao dịch">add</mat-icon>
                    </div>
                </div>
                <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedIndexChange)="changeTab($event)" mat-align-tabs="center">
                    <mat-tab *ngFor="let tab of listMonthTabs" [label]="tab.title">
                        <ng-template matTabContent>
                            <ng-container *ngIf="!loading; else loadingTpl">
                                <ng-container *ngIf="listTransactions.length; else emptyListTranTpl">
                                    <ng-container *ngTemplateOutlet="displayList"></ng-container>
                                </ng-container>
                                <ng-template #emptyListTranTpl>
                                    <div class="empty-list-transactions-container">
                                        Không có dữ liệu
                                    </div>
                                </ng-template>
                            </ng-container>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="matero-col report-overview one-half" fxFlex.gt-md="40" fxFlex="100">
        <mat-card>
            <div fxLayout="row" fxFill>
                <div fxFlex="grow" class="mat-card-title" fxLayout="row" fxLayoutAlign="start center">Báo cáo thu chi
                </div>
                <div fxFlex="auto">
                    <mat-icon class="cursor-pointer" matTooltip="Lọc thời gian" [matMenuTriggerFor]="filterInoutcome">list</mat-icon>
                </div>
            </div>
            <ng-container *ngTemplateOutlet="showTimeFilterInoutcomeTpl"></ng-container>
            <mat-card-content>
                <div id="income-outcome-chart">
                    <apx-chart [series]="inOutcomeChartOptions.series" [labels]="inOutcomeChartOptions.labels" [legend]="inOutcomeChartOptions.legend"
                        [chart]="inOutcomeChartOptions.chart" [colors]="inOutcomeChartOptions.colors" [noData]="inOutcomeChartOptions.noData"
                        [tooltip]="inOutcomeChartOptions.tooltip"></apx-chart>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <div fxLayout="row" fxFill>
                <div fxFlex="grow" class="mat-card-title" fxLayout="row" fxLayoutAlign="start center">Báo cáo chi tiêu theo chủng loại
                </div>
                <div fxFlex="auto">
                    <mat-icon class="cursor-pointer" matTooltip="Lọc thời gian" [matMenuTriggerFor]="filterOutcome">list</mat-icon>
                </div>
            </div>
            <ng-container *ngTemplateOutlet="showTimeFilterOutcomeTpl"></ng-container>
            <mat-card-content>
                <div class="outcome-category-based-chart">
                    <apx-chart [series]="outcomeChartOptions.series" [labels]="outcomeChartOptions.labels" [legend]="outcomeChartOptions.legend"
                        [chart]="outcomeChartOptions.chart" [tooltip]="outcomeChartOptions.tooltip" [noData]="inOutcomeChartOptions.noData"></apx-chart>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <div fxLayout="row" fxFill>
                <div fxFlex="grow" class="mat-card-title" fxLayout="row" fxLayoutAlign="start center">Báo cáo thu nhập theo chủng loại
                </div>
                <div fxFlex="auto">
                    <mat-icon class="cursor-pointer" matTooltip="Lọc thời gian" [matMenuTriggerFor]="filterIncome">list</mat-icon>
                </div>
            </div>
            <ng-container *ngTemplateOutlet="showTimeFilterIncomeTpl"></ng-container>
            <mat-card-content>
                <div class="income-category-based-chart">
                    <apx-chart [series]="incomeChartOptions.series" [labels]="incomeChartOptions.labels" [legend]="incomeChartOptions.legend"
                        [chart]="incomeChartOptions.chart" [tooltip]="incomeChartOptions.tooltip" [noData]="inOutcomeChartOptions.noData"></apx-chart>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- display list of transaction, grouped by category -->
<ng-template #displayList>
    <ng-container *ngFor="let category of listCategories">
        <ng-container *ngIf="checkIfCategoryHasData(category)">
            <div class="w-full m-t-8" fxLayout="row">
                <!-- category name and total value -->
                <div fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                    <span class="icon">
                        <ml-icon [path]="category.icon.path"></ml-icon>
                    </span>
                    <span class="category-name">{{ category.name }}</span>
                </div>
                <div class="total-cate" fxFlex="20">
                    {{ getTotalValueInOneCategory(category) }}
                </div>
                <!-- transaction details on current category -->
            </div>
            <mat-list role="list">
                <mat-list-item class="m-y-8" role="listitem"
                    *ngFor="let tran of getListTransactionOfOneCategory(category)">
                    <div class="hover-item transaction-item p-8" fxLayout="row" fxFill (click)="viewTransaction(tran._id)" matTooltip="Click để xem chi tiết">
                        <div fxFlex="grow" class="transaction-date-note">
                            <div class="date">{{ tran.dateCreatedObj.toLocaleDateString('vi-VN') }}</div>
                            <div class="note">{{ tran.note }}</div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="end center"
                            [ngClass]="{'transaction-amount': true, 'income': category.transactionType == 1, 'outcome': category.transactionType == 0}">
                            {{ formatNumber(tran.amount) }}
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </ng-container>
    </ng-container>
</ng-template>

<!-- loading -->
<ng-template #loadingTpl>
    <app-loading></app-loading>
</ng-template>

<!-- show time filter -->
<ng-template #showTimeFilterInoutcomeTpl>
    <small><em>Từ {{ timeFromInoutcome | date: "dd/MM/yyyy" }} đến {{ timeToInoutcome | date: "dd/MM/yyyy" }}</em></small>
</ng-template>
<ng-template #showTimeFilterOutcomeTpl>
    <small><em>Từ {{ timeFromOutcome | date: "dd/MM/yyyy" }} đến {{ timeToOutcome | date: "dd/MM/yyyy" }}</em></small>
</ng-template>
<ng-template #showTimeFilterIncomeTpl>
    <small><em>Từ {{ timeFromIncome | date: "dd/MM/yyyy" }} đến {{ timeToIncome | date: "dd/MM/yyyy" }}</em></small>
</ng-template>

<!-- time filter income/outcome -->
<mat-menu #filterInoutcome>
    <button mat-menu-item (click)="filterChart('inoutcome', 'this-week')" [ngClass]="{'selected-menu-dropdown-item': selectedFilterOptionInoutcome == 'this-week'}">Tuần này</button>
    <button mat-menu-item (click)="filterChart('inoutcome', 'this-month')" [ngClass]="{'selected-menu-dropdown-item': selectedFilterOptionInoutcome == 'this-month'}">Tháng này</button>
    <button mat-menu-item (click)="filterChart('inoutcome', 'last-month')" [ngClass]="{'selected-menu-dropdown-item': selectedFilterOptionInoutcome == 'last-month'}">Tháng trước</button>
    <button mat-menu-item (click)="filterChart('inoutcome', 'this-year')" [ngClass]="{'selected-menu-dropdown-item': selectedFilterOptionInoutcome == 'this-year'}">Năm nay</button>
    <button mat-menu-item (click)="filterChart('inoutcome', 'custom')" [ngClass]="{'selected-menu-dropdown-item': selectedFilterOptionInoutcome == 'custom'}">Tùy chọn</button>
</mat-menu>

<!-- time filter outcome categories -->
<mat-menu #filterOutcome>
    <button mat-menu-item (click)="filterChart('outcome', 'this-week')" [ngClass]="{'selected-menu-dropdown-item': selectedFilterOptionOutcome == 'this-week'}">Tuần này</button>
    <button mat-menu-item (click)="filterChart('outcome', 'this-month')" [ngClass]="{'selected-menu-dropdown-item': selectedFilterOptionOutcome == 'this-month'}">Tháng này</button>
    <button mat-menu-item (click)="filterChart('outcome', 'last-month')" [ngClass]="{'selected-menu-dropdown-item': selectedFilterOptionOutcome == 'last-month'}">Tháng trước</button>
    <button mat-menu-item (click)="filterChart('outcome', 'this-year')" [ngClass]="{'selected-menu-dropdown-item': selectedFilterOptionOutcome == 'this-year'}">Năm nay</button>
    <button mat-menu-item (click)="filterChart('outcome', 'custom')" [ngClass]="{'selected-menu-dropdown-item': selectedFilterOptionOutcome == 'custom'}">Tùy chọn</button>
</mat-menu>

<!-- time filter income categories -->
<mat-menu #filterIncome>
    <button mat-menu-item (click)="filterChart('income', 'this-week')" [ngClass]="{'selected-menu-dropdown-item': selectedFilterOptionIncome == 'this-week'}">Tuần này</button>
    <button mat-menu-item (click)="filterChart('income', 'this-month')" [ngClass]="{'selected-menu-dropdown-item': selectedFilterOptionIncome == 'this-month'}">Tháng này</button>
    <button mat-menu-item (click)="filterChart('income', 'last-month')" [ngClass]="{'selected-menu-dropdown-item': selectedFilterOptionIncome == 'last-month'}">Tháng trước</button>
    <button mat-menu-item (click)="filterChart('income', 'this-year')" [ngClass]="{'selected-menu-dropdown-item': selectedFilterOptionIncome == 'this-year'}">Năm nay</button>
    <button mat-menu-item (click)="filterChart('income', 'custom')" [ngClass]="{'selected-menu-dropdown-item': selectedFilterOptionIncome == 'custom'}">Tùy chọn</button>
</mat-menu>