<h2 mat-dialog-title>Thêm mới giao dịch</h2>
<div mat-dialog-content>
    <mat-list>
        <div mat-subheader>Ví tiền</div>
        <mat-list-item>
            <span class="icon-select-wallettype">
                <ml-icon [path]="type.icon.path"></ml-icon>
            </span>
            <div mat-line>{{folder.name}}</div>
    <div mat-line> {{folder.updated | date}} </div>
    <div fxLayout="row">
        <div class="matero-col" fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
            <span class="icon-select-wallettype">
                <ml-icon [path]="type.icon.path"></ml-icon>
            </span>
        </div>
        <div fxFlex="grow" fxLayout="row" fxLayoutAlign="center center">
            {{category.name}}
        </div>
        <div fxFlex="10" fxLayout="row" fxLayoutAlign="center center" *ngIf="category.id == selected.categoryId">
            <mat-icon>check</mat-icon>
        </div>
    </div>
        </mat-list-item>
    </mat-list>
</div>
<div mat-dialog-actions>

</div>